:host{
    width: 90%;
    height: 35%;
    border-radius: 15px;
    background: #fefefe81;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.label-wrapper{
    border-radius: 15px;
    width: 90%;
    background: rgba(224, 180, 222, 0.596);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
}

p{
    font-size: 20px;
}

.button-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 80%;
    width: 90%;
}

button{
    border-radius: 15px;
    height: 25%;
    width: 100%;
    border: none;
    font-size: 20px;
    background: rgb(224, 180, 222);
    box-shadow: 0px 7px 0px 0px rgb(180, 146, 179);
}

button:hover{
    cursor: pointer;
    background: rgba(224, 180, 222, 0.781);
    transition-duration: 200ms;
}

button:active{
    transition-duration: 70ms;
    transform: translateY(7px);
    box-shadow: none;
}
